body {
    padding-top: 50px;
}


.burrito-input {
    display: block;
    margin: 60px auto 0;
    width: 80%;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.48);
    box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.48);
}

.burrito-input h2{
    font-size: 1.5em;
    text-align: center;
}

.burrito-output {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.48);
    box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.48);
}

.burrito-dance {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.burrito-disclaimer{
    font-size: .7em;
}

.burrito-center{
    display: block;
    margin: 0 auto;
    width: 80%
}

/*******************home parallax-bg----***********************/

#home-parallax {
  background: url("/Content/images/classPhoto2.jpg") no-repeat;
  padding: 190px 0;
  background-size: 100% auto;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #32c5d2;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.parallax-buttons {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.parallax-buttons a {
  display: inline-block;
  margin: 5px;
}

h1.typed-text {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
}

.typed-text .element {
  color: #32c5d2;
}

#home-parallax p {
  color: #fff;
}

@media (max-width: 568px) {
  h1.typed-text {
    font-size: 25px;
  }
}