@using centriq_dec_2015_site2.Models

@section paralax {
<!--parallax background no slider-->
<section id="home-parallax" class="parallax" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <h1 class="typed-text">
            Our Class is
            <span class="element" data-elements="Creative!, Talented!, Ambitious!, Fun!,"></span>
        </h1>      
    </div>
</section><!--parallax-background-->
}


@section Scripts {
<script type="text/javascript">
    /* Typed
        ================================================== */
    $(".element").each(function () {
        var $this = $(this);
        $this.typed({
            strings: $this.attr('data-elements').split(','),
            typeSpeed: 100, // typing speed
            backDelay: 3000 // pause before backspacing
        });
    });
</script>
}