@{
    ViewBag.Title = "Thank You";
}

<div id="section_header">
    <div class="container">
        <h2><span>Thank You!</span></h2>
    </div>
</div>
<div id="thankyou_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"> <img src="~/Content/ThankYouNeon2.jpg" class="img-responsive" alt=" "> </div>
            <div class="col-lg-6">
                <h3>Well, Thank You! </h3>
                <p>We'll be in touch soon. We look forward to collaborating with you!</p>

            </div>
        </div>
    </div>
</div>



