@{
    ViewBag.Title = "Helpful Links";
    Layout = "~/Views/Shared/_ResourceLayout.cshtml";
}


<body>

    <div class="container wrapper">
        <br />
        <h2>Helpful Resources</h2>
        <p class="lead">Some useful sites to reference during the .Net Developer Track at Centriq.</p>
        <hr>
        <div class="clearfix"></div>
        <br />

        <ul class="thumbnails gridex">

            <li class="span3 clearfix">
                <a href="#" class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/chipotle270x170.png" /> </a>
                <!-- gd-expander required -->
                <div class="gd-expander">
                    <!-- gd-inner optional -->
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/chipotle370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Chipotle</h2>
                                <p>Chipotle Mexican Grill, USA, Canada and UK, Burritos, Tacos and more. Food With Integrity.</p>
                                <a href="//www.chipotle.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/w3schools270x170.png" /></a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/w3schools370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>W3Schools</h2>
                                <p>W3Schools is optimized for learning, testing, and training:  includes language tutorials and how-tos.</p>
                                <a href="//www.w3schools.com/" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/css-tricks270x170.png" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/css-tricks370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>CSS-Tricks</h2>
                                <p> Dedicated to the world of CSS and related technologies. Snippets, videos, tricks and tutorials.</p>
                                <a href="//css-tricks.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/googlefonts270x170.jpg" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/googlefonts370x270.jpg" />
                            </div>
                            <div class="span6">
                                <h2>Google Fonts</h2>
                                <p>Hundreds of free, open-source fonts optimized for the web.</p>
                                <a href="//www.google.com/fonts" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <ul class="thumbnails gridex">

            <li class="span3 clearfix">
                <a href="#" class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/meyersreset270x170.png" /> </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/meyersreset370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Meyer's Reset</h2>
                                <p>
                                    The goal of a reset stylesheet is to reduce browser inconsistencies in things
                                    like default line heights, margins and font sizes of headings, and so on.
                                </p>
                                <a href="//meyerweb.com/eric/tools/css/reset/" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/bootstrap270x170.png" /> </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/bootstrap370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Bootstrap</h2>
                                <p>
                                    Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for
                                    faster and easier web development.
                                </p>
                                <a href="//getbootstrap.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/picmonkey270x170.png" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/picmonkey370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>PicMonkey</h2>
                                <p>
                                    Editing your photos is easy with PicMonkey! Add filters, frames, text, and effects
                                    with our free online photo editing tool!
                                </p>
                                <a href="//picmonkey.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/befunky270x170.jpg" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/befunky370x270.jpg" />
                            </div>
                            <div class="span6">
                                <h2>BeFunky</h2>
                                <p>
                                    BeFunky Photo Editor lets you apply photo effects, edit photos and create photo
                                    collages with collage maker.
                                </p>
                                <a href="//befunky.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <ul class="thumbnails gridex">

            <li class="span3 clearfix">
                <a href="#" class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/pexels270x170.png" /> </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/pexels370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Pexels</h2>
                                <p>
                                    Free high quality photos you can use everywhere. Free for commercial use. No
                                    attribution required.
                                </p>
                                <a href="//pexels.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/unsplash270x170.png" /> </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/unsplash370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Unsplash</h2>
                                <p>
                                    Do whatever you want high-resolution photos. Download 10 new free photos every 10
                                    days.
                                </p>
                                <a href="//unsplash.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/stockvault270x170.png" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/stockvault370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>StockVault</h2>
                                <p>
                                    Free Stock Photos and Free Images for personal, educational and non-commercial
                                    usage.
                                </p>
                                <a href="//www.stockvault.net" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/templatemonster270x170.png" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/templatemonster370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Template Monster</h2>
                                <p>
                                    Welcome the best and the biggest collection of website templates online.
                                    TemplateMonster offers web templates designed and developed by field experts.
                                </p>
                                <a href="//www.templatemonster.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <ul class="thumbnails gridex">

            <li class="span3 clearfix">
                <a href="#" class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/html5up270x170.png" /> </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/html5up370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Html5Up</h2>
                                <p>
                                    Site templates that are: Fully Responsive; Built on intelligent. HTML5 + CSS3; Super
                                    Customizable.
                                </p>
                                <a href="//html5up.net" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/regex270x170.jpg" /> </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/regex370x270.jpg" />
                            </div>
                            <div class="span6">
                                <h2>RegEx Library</h2>
                                <p>
                                    Regular Expression Library provides a searchable database of regular expressions.
                                    Users can add, edit, rate, and test regular expressions.
                                </p>
                                <a href="//www.regexlib.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/html-validator270x170.png" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/html-validator370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>HTML Validator</h2>
                                <p>
                                    CSE HTML Validator for Windows is a practical and powerful HTML / HTML5 /
                                    XHTML and CSS / CSS3 validator and syntax checker.
                                </p>
                                <a href="//www.htmlvalidator.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/indeed270x170.png" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/indeed370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Indeed</h2>
                                <p>
                                    Click here to find millions of jobs from thousands of company web sites, job boards
                                    and newspapers.
                                </p>
                                <a href="//www.indeed.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <ul class="thumbnails gridex">

            <li class="span3 clearfix">
                <a href="#" class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/codeschool270x170.png" /> </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/codeschool370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>CodeSchool</h2>
                                <p>
                                    Learn to code in the comfort of your browser with video tutorials, programming
                                    challenges, and screencasts.
                                </p>
                                <a href="//www.codeschool.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a class="thumbnail"> <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/codecademy270x170.png" /> </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/codecademy370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Codecademy</h2>
                                <p>
                                    Interactive courses on how to program. Courses are created by community and cover
                                    CSS, Java, HTML.
                                </p>
                                <a href="//www.codecademy.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/stackoverflow270x170.png" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/stackoverflow370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Stack Overflow</h2>
                                <p>A language-independent collaboratively edited question and answer site for programmers.</p>
                                <a href="//stackoverflow.com" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span3">
                <a href="#" class="thumbnail">
                    <img alt="270x170" src="~/Content/ForResources/ResourceImages/270x170/khan270x170.png" />
                </a>
                <div class="gd-expander">
                    <div class="gd-inner">
                        <div class="row-fluid">
                            <div class="span6 text-center">
                                <img alt="270x170" class="img-polaroid" src="~/Content/ForResources/ResourceImages/370x270/khan370x270.png" />
                            </div>
                            <div class="span6">
                                <h2>Heading text 3</h2>
                                <p>Learn for free about math, art, computer programming, economics, physics, chemistry, biology, medicine, finance, history, and more.</p>
                                <a href="//www.khanacademy.org" target="_blank" class="btn btn-success">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <div class="push"></div>
    </div>

    <!-- /container -->
    <!-- Footer
    ================================================== -->
    <!--
    <footer class="footer">
        <div class="container">
            <hr>
            <p>
                by Geedmo.
            </p>
            <p>
                2013 &copy; All rights shared.
            </p>
        </div>
    </footer> -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="~/Content/ForResources/js/jquery.js"></script>*@
    @*<script src="~/js/bootstrap-gridex.js"></script>*@

    @*<script src="~/Content/ForResources/js/bootstrap-gridex.min.js"></script>

    <script>
        $(function () {
            $('.gridex').gridex();
        })
    </script>*@
</body>
</html>
