
@{
    ViewBag.Title = "Resources";
}

<h2>Helpful Resources</h2>


<h4>General Issues/Discussion Boards</h4>
<ul>
    <li><a href="//stackoverflow.com/">Stack Overflow</a></li>
    <li><a href="//www.w3schools.com">W3Schools</a></li>
    </ul>

<h4>Web Design</h4>
<ul>
    <li><a href="//css-tricks.com">CSS-Tricks</a></li>
    <li><a href="//www.google.com/fonts">Google Fonts</a></li>
    <li><a href="//meyerweb.com/eric/tools/css/reset/">Meyer's Reset</a></li>
    <li><a href="//www.getbootstrap.com">Bootstrap</a></li>
    <li></li>
</ul>

<h4>Photo Editing</h4>
<ul>
    <li><a href="//www.picmonkey.com>">PicMonkey</a></li>
    <li><a href="//www.befunky.com">BeFunky</a></li>
</ul>

<h4>Stock Images</h4>
<ul>
    <li><a href="//www.pexels.com">Pexels</a></li>
    <li><a href="//unsplash.com">Unsplash</a></li>
    <li><a href="//stockvault.net">Stock Vault</a></li>
    <li></li>
</ul>

<h4>Free Web Templates</h4>
<ul>
    <li><a href="//www.templatemonster.com">Template Monster</a></li>
    <li><a href="//zypopwebtemplates.com">ZyPOP</a></li>
    <li></li>
</ul>

<h4>Other</h4>
<ul>
    <li><a href="//regexlib.com">Regular Expression Library</a></li>
    <li><a href="//www.htmlvalidator.com">HTML Validator</a></li>
    <li><a href="//www.indeed.com">Indeed</a></li>
    <li><a href="//www.codecademy.com">Codecademy</a></li>
    <li><a href="//www.codeschool.com">Code School</a></li>
    <li></li>
</ul>


