@{
    ViewBag.Title = "Thank You";
}

@*ADD THE FOLLOWING TO THE PROPER CONTROLLER:    public ActionResult ThankYou() { return View(); }*@

<style>
    img {width: 200px;height: 250px;}
    img a:hover{content:string(alt);}
    h2 {text-align: center;}
    #ThankYou{text-align:center; font-size:26pt;font-family: 'Audiowide', cursive;}
    .centriqStaff{text-align:center;}
</style>

<h2>Instructors</h2>
<p>
    The class of 8/24/2015 would like to say "Thank you" to all of our instructors over the Track.
    We would not have made it this far if it wasn't for the knowledge and dedication these instructors
    showed us over the past few months.
</p>

<div id="ThankYou">Thank you, Instructors!!!</div>
<div class="centriqStaff">
    <a href="https://www.linkedin.com/in/meganstarek"><img src="~/Content/Images/MeganStarek.jpg" alt="Megan Starek" /></a>
    <a href="https://www.linkedin.com/in/ericjreid"><img src="~/Content/Images/EricReid.jpg" alt="Eric Reid" /></a>
    <a href="https://www.linkedin.com/in/presleyjason"><img src="~/Content/Images/JasonPresley.jpg" alt="Jason Presley" /></a>
    <a href="https://www.linkedin.com/in/keithjsmith"><img src="~/Content/Images/KeithSmith.jpg" alt="Keith Smith" /></a>
    <a href="https://www.linkedin.com/in/chuck-wieners-6a0024b"><img src="~/Content/Images/ChuckWieners.jpg" alt="Chuck Wieners" /></a>
</div>

<div class="clearfix"></div>
<hr />
<br /><br />
<h2>Support Staff</h2>
<p>
    We cannot forget to give a huge "Thank You" to the support staff, as well.  The instructors
    taught us the knowledge necessary to begin as a .NET Developer, but these ladies helped us
    have a better chance of finding a place to begin our career.
</p>

<div id="ThankYou">Thank you, Too!!!</div>
<div class="centriqStaff">
    <a href="https://www.linkedin.com/in/kieraroberts"><img src="~/Content/Images/KieraRoberts.jpg" alt="Kiera Roberts" /></a>
    <a href="https://www.linkedin.com/in/nicolemichalski"><img src="~/Content/Images/Nicole (Michalski) Trendel.jpg" alt="Nicole Trendel" /></a>
    <a href="https://www.linkedin.com/in/tinapugh"><img src="~/Content/Images/TinaPugh.jpg" alt="Tina Pugh" /></a>
    <a href="https://www.linkedin.com/in/erinlongcrowell"><img src="~/Content/Images/ErinLongCromwell.jpg" alt="Erin Long-Cromwell" /></a>
    <a href="https://www.linkedin.com/in/ashlee-rhoades-28014844"><img src="~/Content/Images/Ashlee Rhoades.jpg" alt="Ashlee Rhoades" /></a>
</div>

<div class="clearfix"></div>
