@{
    ViewBag.Title = "Ray's Bio";
    Layout = "~/Views/Shared/_BioLayout.cshtml";
}

@section ImageURL {
    https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAARaAAAAJDk3ZTNiZmRjLWZjMmQtNGVlNC1hOGEyLWZhYjlmYTUxOTgzNQ.jpg
}

@section Name {
    Raymundo Herrera
}

@section LinkedInURL {
    https://www.linkedin.com/profile/view?id=AAkAABpu_IsBfudlClYvv1SCI3B4ndvXsTY-qPA&authType=NAME_SEARCH&authToken=FNi5&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A443481227%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1448293394334%2Ctas%3Araymu
}

@section GitHubURL {
    https://github.com/RaymundoHerrera
}

@section BioContent {
    <p>
        My name is Raymundo Herrera, but most people just call me Ray. I have lived in Wichita, KS almost my entire life.
        I attended to Heights High School and took several programming courses. This is how i discovered my love for programming.
        It ended up becoming one of my hobbies, so I decided to pursue a career in this field.
    </p>
    <p>
        After high school, I attended Butler
        Community College in Andover for a couple semesters, but was unsatisfied with the unrelated pre-requisites i had to take and the slow pace
        to actually get to a programming course. I decided to take a different route, which was the TechSmartKC Program at Centriq.
        I am very happy with my decision, and I am very confident with the skills and knowledge I have learned at Centriq. I'm looking
        forward to working a career doing something i love.
    </p>
}